{{ services.lastSeen.setLastSeenMaxCount(config("Ceres.item.lists.last_seen_number")) }}

{{ component( "CeresVanilla::Item.Components.VariationSelect" ) }}
{{ component( "CeresVanilla::Item.Components.ItemImageCarousel" ) }}
{{ component( "CeresVanilla::Item.Components.AddToWishList" ) }}
{{ component( "CeresVanilla::Item.Components.OrderProperties" ) }}
{{ component( "CeresVanilla::Item.Components.OrderPropertyList" ) }}
{{ component( "CeresVanilla::Item.Components.SingleItem" ) }}
{{ component( "CeresVanilla::Item.Components.GraduatedPrices" ) }}
{{ component( "CeresVanilla::Basket.Components.AddToBasket" ) }}
{{ component( "CeresVanilla::Item.Components.ItemBundle" ) }}

<single-item v-cloak template="#vue-single-item" :item-data="{{ item | json_encode }}" :variation-list-data="{{ variations | json_encode }}" :attribute-name-map="{{attributeNameMap | json_encode}}" :variation-units="{{variationUnits | json_encode}}">
    <div slot="BeforePrice">{{ LayoutContainer.show("CeresVanilla::SingleItem.BeforePrice", item.documents[0].data) }}</div>
    <div slot="AfterPrice">{{ LayoutContainer.show("CeresVanilla::SingleItem.AfterPrice", item.documents[0].data) }}</div>
    <div slot="BeforeAddToBasket">{{ LayoutContainer.show("CeresVanilla::SingleItem.BeforeAddToBasket", item.documents[0].data) }}</div>
    <div slot="AfterAddToBasket">{{ LayoutContainer.show("CeresVanilla::SingleItem.AfterAddToBasket", item.documents[0].data) }}</div>
    <div slot="AdditionalContentAfterAddToBasket">{{ LayoutContainer.show("CeresVanilla::SingleItem.AdditionalContentAfterAddToBasket", item.documents[0].data) }}</div>
    <div slot="AdditionalContentAfterVAT">{{ LayoutContainer.show("CeresVanilla::SingleItem.AdditionalContentAfterVAT", item.documents[0].data) }}</div>
    <template slot="AddDetailTabs">{{ LayoutContainer.show("CeresVanilla::SingleItem.AddDetailTabs", item.documents[0].data) }}</template>
    <template slot="AddDetailTabsContent">{{ LayoutContainer.show("CeresVanilla::SingleItem.AddDetailTabsContent", item.documents[0].data) }}</template>
    <div slot="ItemListContainer">{{ LayoutContainer.show("CeresVanilla::SingleItem.ItemListContainer", item) }}</div>
    <div slot="FeedbackContainer">{{ LayoutContainer.show("CeresVanilla::SingleItem.FeedbackContainer", item) }}</div>
    <div slot="ImageCarousel">
        {% set ImageCarouselOverride = LayoutContainer.show("CeresVanilla::SingleItem.ImageCarousel") %}
        {% if ImageCarouselOverride|trim is empty %}
            <item-image-carousel image-url-accessor="url" template="#vue-item-image-carousel"></item-image-carousel>
        {% else %}
            {{ ImageCarouselOverride }}
        {% endif %}
    </div>
    <div slot="IsOutfit">
        {% set isOutfit = false %}
        {% for property in item.documents[0].data.properties %}
            {% if property.property.id == 175 %}
                {% set isOutfit = true %}
                {% if isOutfit is true %}
                    <div class="h4 p-t-1"><span class="text-double alex">Das perfekte Outfit für Sie zusammengestellt</span></div>
                {% else %}
                    <div class="h4 p-t-1"><span class="text-double alex">Die passenden Artikel für Sie zusammengestellt</span></div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <div slot="OutfitButton">
        {% set isOutfit = false %}
        {% for property in item.documents[0].data.properties %}
            {% if property.property.id == 175 %}
                {% set isOutfit = true %}
                {% if isOutfit is true %}
                    <div class="row m-y-1">
                        <div class="col-xs-12 col-sm-7 col-md-12 col-lg-8 m-y-1">
                            <button class="btn btn-block btn-info">
                                <i class="fa fa-tshirt"></i> oder Outfit shoppen
                            </button>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</single-item>
