
{% if not services.template.isCheckout() %}
<div class="bg-faded m-y-3">
	<div class="container-max">
		<div class="row text-center">
			<div class="col-xs-12 col-md-6">
				<img src="https://www.finest-trachten.info/images/dirndl-newsletter.jpg" class="w-100" alt="5% Gutschein sichern für das nächste Traumdirndl!">
			</div>
			<div class="col-xs-12 col-md-6">
				<p class="w-100 m-t-3 m-b-2 h1"><span class="text-double alex">5%</span> <span class="text-large alex">Gutschein geschenkt!</span></p>
				<p class="w-100 m-b-3 p-y-1 b-y-d-1 h4 text-uppercase">Gleich den Newsletter abonnieren!</p>
				<a data-toggle="modal" href="#newsletter" class="btn btn-secondary btn-lg m-b-3">Jetzt anmelden <i class="fa fa-chevron-right"></i></a>
			</div>
		</div>
	</div>
</div>
{% endif %}
<footer class="p-y-3 text-center">
	<div class="container-max">
	    {% if not services.template.isCheckout() %}
		<div class="row">
			<div class="col-xs-12 col-md-6 col-lg-3 m-b-3">
				<div class="h5 text-uppercase">Finest Trachten</div>
				<ul class="list-unstyled">
                    <li class="m-b-5"><a class="text-muted text-uppercase text-small" title="Impressum" href="{{ services.category.getURLById(2) }}">Impressum</a></li>
                    <li class="m-b-5"><a class="text-muted text-uppercase text-small" title="Über Uns" href="{{ services.category.getURLById(8) }}">Über Uns</a></li>
                    <li class="m-b-5"><a class="text-muted text-uppercase text-small" title="Hilfe" href="{{ services.category.getURLById(402) }}">Hilfe</a></li>
                    <li class="m-b-5"><a class="text-muted text-uppercase text-small" title="Sitemap" href="/sitemap.xml">Sitemap</a></li>
                	<li class="m-b-5"><div id="google_translate_element"></div></li>
				</ul>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3 m-b-3">
				<div class="h5 text-uppercase">Service</div>
				<ul class="list-unstyled">
                    <li class="m-b-5"><a class="text-muted text-uppercase text-small" title="AGB" href="{{ services.category.getURLById(11) }}">AGB</a></li>
                    <li class="m-b-5"><a class="text-muted text-uppercase text-small" title="Widerrufsrecht" href="{{ services.category.getURLById(10) }}">Widerrufsrecht</a></li>
                    <li class="m-b-5"><a class="text-muted text-uppercase text-small" title="Datenschutz" href="{{ services.category.getURLById(12) }}">Datenschutz</a></li>
                	<li class="m-b-5"><a class="text-muted text-uppercase text-small" title="Newsletter-Abmeldung" data-toggle="modal" href="#newsletter-cancel">Newsletter-Abmeldung</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3 m-b-3">
				<div class="h5 text-uppercase">Bestellen</div>
				<ul class="list-unstyled">
                    <li class="m-b-5"><a class="text-muted text-uppercase text-small" title="Kontakt" href="{{ services.category.getURLById(1) }}">Kontakt</a></li>
                    <li class="m-b-5"><a class="text-muted text-uppercase text-small" title="Versand" href="{{ services.category.getURLById(403) }}">Versand</a></li>
                    <li class="m-b-5"><a class="text-muted text-uppercase text-small" title="Zahlarten" href="{{ services.category.getURLById(38) }}">Zahlarten</a></li>
                    <li class="m-b-5"><a class="text-muted text-uppercase text-small" title="Retouren" href="{{ services.category.getURLById(407) }}">Retouren</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3 m-b-3">
				<div class="h5 text-uppercase">Finest Apps</div>
				<a class="d-inline-block w-50 mx-auto m-b-5" title="Lade die Finest Trachten iOS App bei iTunes" href="https://itunes.apple.com/de/app/finest-trachten/id710530200?mt=8" target="_blank">
					<img src="https://www.finest-trachten.info/images/itunes.jpg" alt="Lade die Finest Trachten iOS App bei iTunes" class="w-100">
				</a>
				<a class="d-inline-block w-50 mx-auto m-b-5" title="Lade die Finest Trachten Android App bei Google Play" href="https://play.google.com/store/apps/details?id=com.shopgate.android.app11080" target="_blank">
					<img src="https://www.finest-trachten.info/images/playstore.jpg" alt="Lade die Finest Trachten Android App bei Google Play" class="w-100">
				</a>
			</div>
        </div>
        <div class="row">
			<div class="col-xs-12 col-md-6 col-lg-3 m-b-3">
				<div class="h5 text-uppercase">Auf einen Blick</div>
				<ul class="list-unstyled">
                    <li class="m-b-5"><a class="text-muted text-uppercase text-small" title="alle Trachtenhersteller" href="{{ services.category.getURLById(49) }}">Hersteller</a></li>
                    <li class="m-b-5"><a class="text-muted text-uppercase text-small" title="Größentabelle" href="{{ services.category.getURLById(406) }}">Größentabelle</a></li>
                    <li class="m-b-5"><a class="text-muted text-uppercase text-small" title="Trachtenblog" href="/blog/">Trachtenblog</a></li>
                    <li class="m-b-5"><a class="text-muted text-uppercase text-small" title="Trachtenlexikon" href="{{ services.category.getURLById(81) }}">Trachtenlexikon</a></li>
                    <li class="m-b-5"><a class="text-muted text-uppercase text-small" title="Unser Trachten-Outfit Planner für Ihr Traum-Outfit" href="/trachten-outfits/">Trachten-Outfits</a></li>
                    <li class="m-b-5"><a class="text-muted text-uppercase text-small" title="Artikelgalerie" href="https://gallery.finest-trachten.de">Artikelgalerie</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3 m-b-3">
				<div class="h5 text-uppercase">Schnell gefunden für Damen</div>
				<ul class="list-unstyled">
					<li class="m-b-5"><a class="text-muted text-uppercase text-small" href="/schnell-gefunden-damen/dirndl-nach-farbe/">Dirndl nach FARBE</a></li>
					<li class="m-b-5"><a class="text-muted text-uppercase text-small" href="/schnell-gefunden-damen/dirndl-nach-groesse/">Dirndl nach GRÖßE</a></li>
					<li class="m-b-5"><a class="text-muted text-uppercase text-small" href="/schnell-gefunden-damen/dirndl-nach-laenge/">Dirndl nach LÄNGE</a></li>
					<li class="m-b-5"><a class="text-muted text-uppercase text-small" href="/schnell-gefunden-damen/dirndlbluse-nach-farbe/">Bluse nach FARBE</a></li>
					<li class="m-b-5"><a class="text-muted text-uppercase text-small" href="/schnell-gefunden-damen/dirndlbluse-nach-groesse/">Bluse nach GRÖßE</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3 m-b-3">
				<div class="h5 text-uppercase">Schnell gefunden für Herren</div>
				<ul class="list-unstyled">
					<li class="m-b-5"><a class="text-muted text-uppercase text-small" href="/schnell-gefunden-herren/lederhose-nach-groesse/">Lederhose nach GRÖßE</a></li>
					<li class="m-b-5"><a class="text-muted text-uppercase text-small" href="/schnell-gefunden-herren/lederhose-nach-laenge/">Lederhose nach LÄNGE</a></li>
					<li class="m-b-5"><a class="text-muted text-uppercase text-small" href="/schnell-gefunden-herren/trachtenhemd-nach-farbe/">Hemd nach FARBE</a></li>
					<li class="m-b-5"><a class="text-muted text-uppercase text-small" href="/schnell-gefunden-herren/trachtenhemd-nach-groesse/">Hemd nach GRÖßE</a></li>
					<li class="m-b-5"><a class="text-muted text-uppercase text-small" href="/schnell-gefunden-herren/weste-nach-groesse/">Weste nach GRÖßE</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3 m-b-3">
				<div class="h5 text-uppercase">Social Media</div>
				<ul class="list-unstyled">
                    <li class="m-b-5"><a class="text-muted text-uppercase text-small" title="Facebook" href="https://www.facebook.com/Finest-trachtende-199748796742010/" target="_blank"><i class="fa fa-facebook-square"></i>  Facebook</a></li>
                    <li class="m-b-5"><a class="text-muted text-uppercase text-small" title="Youtube" href="https://www.youtube.com/channel/UCqvrncrDtnr78KwnIWtNw8w/videos?view=0&shelf_id=0&sort=dd" target="_blank"><i class="fa fa-youtube"></i>  Youtube</a></li>
                    <li class="m-b-5"><a class="text-muted text-uppercase text-small" title="Pinterest" href="https://www.pinterest.de/finesttrachtend/" target="_blank"><i class="fa fa-pinterest"></i>  Pinterest</a></li>
                    <li class="m-b-5"><a class="text-muted text-uppercase text-small" title="Instagram" href="https://www.instagram.com/finesttrachten/" target="_blank"><i class="fa fa-instagram"></i>  Instagram</a></li>
                    <li class="m-b-5"><a class="text-muted text-uppercase text-small" title="Google Plus" href="https://plus.google.com/+Finest-trachtenDe" target="_blank"><i class="fa fa-google-plus"></i>  Google +</a></li>
				</ul>
			</div>
        </div>
		{% endif %}
        <div class="row">
			<div class="col-xs-12 col-md-6 m-b-3">
				<div class="h5 text-uppercase">Unsere Zahlarten</div>
				<img src="https://www.finest-trachten.info/images/payment-methods.jpg" alt="Unsere Zahlarten" class="w-66">
			</div>
			<div class="col-xs-12 col-md-6 m-b-3">
				<div class="h5 text-uppercase">Datenschutz nach DSGVO</div>
				<a title="Datenschutz" href="{{ services.category.getURLById(12) }}">
					<img src="https://www.finest-trachten.info/images/datenschutz.jpg" alt="Datenschutz nach DSGVO" class="w-20">
				</a>
			</div>
		</div>
		{% if services.template.isHome() %}
        <div class="row">
			<div class="col-xs-12 m-b-3 text-justify">
				<h1>Trachtenmode im Finest Trachten Online Shop</h1>

				<p><strong>Oktoberfest</strong> meets Fashion – <strong>Trachtenmode</strong> ist auch <strong>2018</strong> ein absolutes Muss auf der Wiesn. Kaum ein Kleidungsstück zaubert einem Madl solch eine schmeichelnde Silhouette wie das <strong>Dirndl</strong> und kaum ein Bua würde heute auf die fesche <strong>Lederhose</strong> verzichten. Genießen Sie das Volksfest stilecht mit unseren <strong>modernen oder traditionellen Outfits</strong>. Entdecken Sie jetzt die aktuellste Trachtenmode In unserem <strong>Trachten Online Shop</strong>!</p>

				<img alt="Dirndl" class="w-25 pull-right lazy m-l-3 m-b-3" src="/layout/2018/images/Dirndl-Bild1.jpg" />

				<h2>Trachtenkleider und Co. für Damen</h2>

				<p>Verschaffen Sie sich zunächst einen Überblick über die schönsten <strong>Damentrachten</strong> aus unserem Sortiment. Der einfache Trachtenlook für Frauen setzt sich aus verschiedenen Elementen zusammen:</p>

				<ul>
					<li><a href="/damen/dirndl/" title="Dirndlkleider">Dirndlkleider</a></li>
					<li><a href="/damen/blusen/dirndlblusen/" title="Dirndlblusen">Dirndlblusen</a></li>
					<li><a href="/damen/blusen/trachtenblusen/" title="Trachtenblusen">Trachtenblusen</a></li>
					<li><a href="/damen/roecke/" title="Trachtenröcke">Trachtenröcke</a></li>
					<li><a href="/damen/schuerzen/" title="Dirndlschürzen">Dirndlschürzen</a></li>
					<li><a href="/damen/lederhosen/" title="Lederhosen für Damen">Lederhosen für Damen</a></li>
				</ul>

				<p>Das passende <strong>Trachten-Outfit</strong> kann so ganz individuell gewählt werden und unterstützt die Körperfigur vorteilhaft. Stöbern Sie in unserem Online-Katalog und bestellen Sie Ihre individuelle Trachtenmode oder <strong>Landhausmode</strong>!</p>

				<h3>Das perfekte Dirndlkleid von Finest Trachten</h3>

				<p>Die klassischen Dirndl sind sehr beliebt bei echten Münchner Madln genauso wie bei Gästen von Nah und Fern, die ein waschechtes Oktoberfest erleben wollen. Die wichtigste Entscheidung beim <strong>Dirndl-Kleid</strong> ist die Länge, die je nach Anlass variieren kann.</p>

				<h4>Fesche Trachtenmode mit dem Mini-Dirndl</h4>

				<p>Das kurze <a href="/damen/dirndl/mini-dirndl/">Mini-Dirndl</a> ist ein kesses Fashion-Statement. Es zeigt viel Haut und zaubert einen sexy Look. Die Rocklänge beim Dirndl Mini beträgt ca. 45 cm – 60 cm.</p>

				<h4>Das beliebte Midi-Dirndl für jeden Anlass</h4>

				<p>Hier findet sich die <strong>goldene Mitte</strong>. Das <a href="/damen/dirndl/midi-dirndl/">Midi-Dirndl</a> ist das beliebteste Dirndl, da es einerseits den traditionellen Schnitt der Tracht hat, gleichzeitig aber besonders im Festzelt nicht zu warm ist. Die Saumlänge beim Dirndl Midi beträgt ca. 70 cm.</p>

				<h4>Traditionelle Tracht durch das lange Dirndl</h4>

				<p>Ein <a href="/damen/dirndl/lange-dirndl/">langes Dirndl</a> ist die <strong>traditionellste Form</strong> des Trachten-Kleids. Es hat eine klassische Eleganz, die jeder Trägerin ein besonderes Gefühl verleiht. Die Rocklänge beträgt ca. ab 85 cm.</p>

				<img alt="Dirndlbluse" class="w-25 pull-left lazy m-r-3 m-b-3" src="/layout/2018/images/Dirndl-Bild2.jpg" />

				<h3>Dirndlblusen – floral verspielt oder klassisch elegant</h3>

				<p>Die <a href="/damen/blusen/dirndlblusen/">Dirndlbluse</a> muss zu Ihrem Trachten-Outfit passen und den Look des Dirndl-Kleids unterstützen. Achten Sie deshalb beim Kauf einer Dirndlbluse auf <strong>Material</strong>, <strong>Form</strong> und <strong>Farbe</strong> und den Gesamtlook Ihrer Trachtenmode.</p>

				<p><strong>Material</strong>: Wählen Sie zwischen <strong>Baumwolle</strong>, <strong>Seide</strong>, <strong>Organza</strong> oder ausgefallener <strong>Spitze</strong>. Stimmen Sie die Stoffe mit den Stoffen Ihres restlichen Trachten-Outfits ab. Bei uns finden Sie Blusen mit hochwertigen Materialien, die Sie gut kombinieren können.</p>

				<p><strong>Form</strong>: Stimmen Sie die Form immer mit Ihrem Dirndl ab. Der <strong>Ausschnitt der Bluse muss zum Dirndl-Ausschnitt passen</strong>, damit beide sich gegenseitig hervorheben und Ihnen <strong>das schönste Dekolleté zaubern</strong>. Nicht nur der Ausschnitt muss passen, auch das restliche Aussehen sollte mit Bedacht auf das Kleid gewählt werden. Passen Sie die zusätzlichen Verzierungen wie Stickereien und Borte an Ihr Dirndl an, um einen <strong>stimmigen Trachten-Look</strong> zu erzeugen.</p>

				<p><strong>Farbe</strong>: Bei der Wahl der Farbe sollten Sie erneut auf die Farbe Ihres Dirndls achten. Eine <strong>weiße Bluse ist der Klassiker</strong>. Sie passt zu fast allem und unterstützt den traditionellen Standard-Look. Eine schwarze Bluse ist ein echter Hingucker, der sich gut mit starken Dirndl-Farben kombinieren lässt. Cremefarbene Blusen liegen aktuell im Trend, da sie besonders gut zu Trachtenkleidern in Pastellfarben passen und diese sich immer größerer Beliebtheit erfreuen.</p>

				<p>Die Dirndlbluse gibt es auch mit zierlichen floralen Mustern oder besonders filigranen Stickereien.  Entdecken Sie unsere <strong>exklusiven Dirndl- und Designerblusen</strong> noch heute und bestellen Sie sich die Damen-Trachtenmode günstig aus unserem Sortiment.</p>

				<h3>Trachtenblusen und Trachtenhosen für den klassischen Wiesn-Look</h3>

				<p>Immer mehr Damen setzen auf die <strong>Kombination von <a href="/damen/blusen/trachtenblusen/">Trachtenbluse</a> und -hose</strong>. Eine Trachtenjeans und dazu eine traditionelle Bluse mit Karo-Muster ist ein Trend-Outfit und für moderne Frauen eine bequeme Alternative zu einem Kleid. Trachtenhosen und Trachtenlederhosen für Damen erhalten Sie bei uns als:</p>

				<p>Die kurze, freche Jeans Lederhose und dazu eine klassische Trachtenbluse mit Ausschnitt sind ein unschlagbares Team für einen <strong>frischen und festlichen Look zugleich</strong>. Stöbern Sie jetzt in unserem Sortiment und kaufen Sie sich Ihr persönliches Outfit aus Trachtenhose und Trachtenbluse!</p>

				<h3>Mieder & Trachtenröcke kombinieren</h3>

				<p>Stellen Sie sich einfach Ihr eigenes <strong>Trachtenmode-Outfit zusammen</strong>, indem Sie gekonnt Mieder und Trachtenröcke kombinieren. Wir bieten eine Vielzahl an schönen, einfarbigen Mieder-Klassikern sowie verschiedene Trachtenröcke an, die Sie problemlos miteinander mischen können.</p>

				<p>Diese alternative Zusammenstellung erlaubt eine <strong>individuelle Auswahl der Größen bei Rock sowie <a href="/damen/mieder/">Mieder</a></strong>. Frauen mit unterschiedlicher Konfektionsgröße für Ober- und Unterkörper profitieren von dieser flexiblen Auswahl und finden somit ebenfalls <strong>das perfekte Trachtenoutfit für sich</strong>.</p>

				<img alt="Lederhosen" class="w-33 pull-right lazy m-l-3 m-b-3" src="/layout/2018/images/lederhosen-tracht.jpg" />

				<h2>Die aktuelle Trachtenmode für Herren</h2>

				<p>Die <strong>Lederhose ist ein zeitloser Klassiker</strong> und gehört zu jedem Oktoberfest dazu. Bei uns erhalten Sie nicht nur das Highlight jeder Tracht für Herren, sondern auch sämtliche andere Bekleidungsstücke, die ein Wiesn-Outfit ausmachen.</p>

				<ul>
					<li><a href="/herren/lederhosen/" title="Lederhosen">Lederhosen</a></li>
					<li><a href="/herren/trachtenhemden/" title="Trachtenhemden">Trachtenhemden</a></li>
					<li><a href="/herren/trachtenmode-und-fashion/trachten-t-shirt/" title="Trachtenshirts">Trachtenshirts</a></li>
					<li><a href="/herren/jacken-und-janker/" title="Trachtenjacken">Trachtenjacken</a></li>
					<li><a href="/herren/westen/" title="Trachtenwesten">Trachtenwesten</a></li>
				</ul>

				<h3>Der Lederhosen-Klassiker</h3>

				<p>Die kurze Lederhose ist der Klassiker der Trachtenmode. Sie ist simpel, zeitlos und lässt sich leicht mit anderen Elementen der Tracht kombinieren. <strong>Klassische <a href="/herren/lederhosen/kurze-lederhosen/">kurze Lederhosen</a> enden knapp über dem Knie</strong>. Als Alternative bieten wir Ihnen <a href="/herren/lederhosen/kniebundlederhosen/">Kniebundlederhosen</a> an, die bis zur Wadenmitte reichen und gerne mit einem passenden Hosenträger getragen werden. Die <a href="/herren/lederhosen/lange-lederhosen/">lange Lederhose</a> ist besonders festlich und passt zu jedem Anlass. Lange Lederhosen bestechen durch ihr <strong>simples Design</strong> und lassen sich durch einen schönen Trachtengürtel sehr leicht in Szene setzen.</p>

				<h4>Pflege der Lederhose</h4>

				<p>Die <strong>Lederpflege</strong> ist das A und O bei Ihrer Lederhose. Wenn Sie Ihre Lederhose regelmäßig <strong>mit speziellem Lederfett behandeln</strong>, haben Sie im besten Fall Ihr ganzes Leben lang Freude an Ihrer Trachtenhose.</p>

				<h3>Trachtenhemden-Auswahl von Finest Trachten</h3>

				<p>Die Lederhosen lassen sich als Basis-Grundbekleidungsstück der Trachtenmode mit sämtlichen Trachtenhemden kombinieren. Das <strong>Karo-Hemd</strong> ist ein beliebter Bestseller, der  gern getragen wird und im Festzelt immer vielfältig zu finden ist. Wir bieten Ihnen unter anderem auch ausgefallenere Optionen an:</p>

				<ul>
					<li><a href="/herren/trachtenhemden/weisse-trachtenhemden/" title="Klassische Hemden">Klassische Hemden</a></li>
					<li><a href="/herren/trachtenhemden/kurzarm-hemden/" title="Kurzarm Hemden">Kurzarm Hemden</a></li>
					<li><a href="/herren/trachtenhemden/moderne-trachtenhemden/" title="Moderne Hemden">Moderne Hemden</a></li>
				</ul>

				<p>Wählen Sie Ihr Trachtenhemd passend dem Anlass aus. Ein Trachtenhemd mit kurzen Armen ist ein perfekter Begleiter für lockere Freizeitaktivitäten.</p>

				<h3>Moderne Trachtenshirts für den Alltag</h3>

				<p>Unsere Trachtenshirts sind die absoluten <strong>Hingucker für den Alltag</strong>. Mit dieser Trachtenmode holen Sie sich ein Stück Oktoberfest nach Hause. Die Shirts passen nahtlos zu Ihrem restlichen Kleiderschrank und funktionieren als alltägliche Freizeitbekleidung. Mit modernen, abstrakten Motiven und viel Humor überzeugen diese Shirts nicht nur Wiesn-Fans. Entdecken Sie jetzt Ihr Trachtenshirt in unserem Trachten Online Shop!</p>

				<h3>Vielfältige Trachtenjacken für die Wiesn</h3>

				<p>Für die kälteren Tage wünschen sich viele Menschen eine schöne Trachtenjacke, die ihr Outfit ergänzt. Die Wahl liegt zwischen <a href="/herren/jacken-und-janker/janker/">Jankern</a>, <a href="/herren/jacken-und-janker/strickjacken/">Trachtenstrickjacken</a> oder <a href="/herren/jacken-und-janker/funktionsjacke/">Funktionsjacken</a>.</p>

				<p><strong>Janker</strong>: Der Trachtenjanker ist die <strong>klassische, festliche Jacke für die Wiesn-Tracht</strong>. Getragen wird Sie entweder mit kurzen Lederhosen, Kniebundhosen oder zu Hosen des Trachtenanzugs. Der Janker ist eine hüftlange Jacke mit geradem Schnitt, deren Farbe meist grau, grün oder rot ist.</p>

				<p><strong>Trachten-Strickjacken</strong>: Sind eine <strong>gute Alternative zum Janker</strong> und wirken <strong>moderner</strong>, weshalb die Strickjacken sehr gut zu Jeans passen. Eine Strickjacke kann wunderbar mit allen Elementen der Trachtenmode kombiniert werden.</p>

				<p><strong>Funktionsjacken</strong>: Diese Strickjacken sind wasserabweisend sowie windabweisend. Auch jenseits der Volksfeste <strong>leisten die funktionellen Jacken gute Dienste</strong>, beispielsweise bei Spaziergängen oder Bergwanderungen.</p>

				<p>Verschiedene Trachtenjacken gibt es selbstverständlich auch für Frauen. Hier muss die Trägerin darauf achten, welches Material und welche Farbe sie möchte und wie festlich das Outfit aussehen soll. Einen Janker für Frauen gibt es ebenfalls, um besonders traditionelle Dirndl-Outfits aufzuwerten.</p>

				<h3>Trachtenwesten für Herren</h3>

				<p>Die <strong>Trachten-Herrenwesten</strong> sind zumeist einfarbig  oder mit einem kleinen Muster versehen. Sie werden häufig aus <strong>Samt</strong> gefertigt und alternativ auch aus <strong>Baumwolle</strong>, <strong>Taft</strong> oder <strong>Brokat</strong>. Traditionelle Farben sind nach wie vor besonders beliebt bei der Trachtenweste und sorgen für den festlichsten Gesamtlook. Die Rückseiten des Gilets sind klassisch in Schwarz gehalten, der Halsausschnitt für gewöhnlich schlicht rund oder in V-Form und oft mit einem kleinen Stehkragen geschmückt.</p>

				<img alt="Lederhose" class="w-33 pull-left lazy m-r-3 m-b-3" src="/layout/2018/images/trachtenmode-lederhose.jpg" />

				<h2>Trachtenaccessoires für Ihre Wiesn-Fashion</h2>

				<p>Das perfekte <strong>Wiesn-Outfit 2018</strong> überzeugt nur mit den <strong>richtigen Accessoires</strong>. Bei uns finden Sie alles rundum Trachtenmode, damit Sie die Volksfeste stilecht miterleben. Folgende Accessoires finden Sie in unserem Trachten Online Shop:</p>

				<ul>
					<li><a href="/herren/accessoires/trachtenguertel/" title="Trachtengürtel">Trachtengürtel</a></li>
					<li><a href="/schuhe/" title="Trachtenschuhe">Trachtenschuhe</a></li>
					<li><a href="/damen/accessoires/dirndl-taschen/" title="Trachtentaschen">Trachtentaschen</a></li>
					<li><a href="/damen/accessoires/struempfe/" title="Trachtensocken">Trachtensocken</a></li>
					<li><a href="/damen/accessoires/schals/" title="Trachtentücher">Trachtentücher</a></li>
					<li><a href="/damen/accessoires/trachtenschmuck/" title="Trachtenschmuck">Trachtenschmuck</a></li>
					<li><a href="/damen/accessoires/trachtenhuete/" title="Trachtenhüte">Trachtenhüte</a></li>
				</ul>

				<h2>Trachtentrends für Alt und Jung</h2>

				<p>Lassen Sie sich von uns auch zu den neusten <strong>Trachtentrends</strong> beraten. Aktuell beliebte Trachtenmoden im Bereich der <a href="/damen/hochzeits-dirndl/hochzeits-dirndl/">Hochzeitsdirndl</a>, <a href="/damen/hochzeits-dirndl/umstandsdirndl/">Umstandsdirndl</a>, Trachtenpullover, <a href="/kinder/">Trachten für Kinder</a> oder die trendigsten Farben und Muster für die Dirndl-Saison verraten wir Ihnen gerne. Werfen Sie einfach einen Blick in unsere Kategorien und Sie erkennen im Handumdrehen unsere Bestseller. Bei Fragen zu einem bestimmten Trachtentrend stehen wir Ihnen auch gerne zur Verfügung. Rufen Sie uns  einfach an und wir beraten Sie unverbindlich!</p>

				<h2>Trachtenmode günstig bei Finest Trachten bestellen</h2>

				<p>Entdecken Sie jetzt <strong>Herrentrachten und Damentrachten der aktuellen Saison</strong> und Sie können das Oktoberfest stilsicher feiern. Trachtenkleidung ist ein wichtiger Bestandteil der <strong>Volksfeste Süddeutschlands</strong> und gehört zu einem besonderen Erlebnis dazu.</p>

				<p>Die Trachtenkleidung aus unserem Sortiment ist <strong>abwechslungsreich und qualitativ hochwertig</strong>. Falls Sie Fragen haben, beraten wir Sie gerne rund um alle Themen von Dirndl bis Lederhosen. Bestellen Sie jetzt Ihre <strong>Trachtenmode im Finest Trachten Online Shop</strong>!</p>
        	</div>
        </div>
		{% endif %}
	</div>
</footer>

<div id="copyright">
	<div class="container-max">
		<div class="row">
			<div class="col-xs-12">
				<p class="w-100 my-3 text-center">&copy; 2018 Finest Trachten GbR - All rights reserved.</p>
			</div>
		</div>
	</div>
</div>
